
<div class="footer" align="center">
    <p>
        @using (Html.BeginForm("ChangeSide", "Home"))
        {
            <b>Join other side?</b>
            <input type="submit" class="btn btn-danger" id="yes" value="Yes!"/>
            <div class="btn btn-success" id="no">No</div>
        }
    </p>
</div>